<div class="wagon plackart" >
        <div class="wagon__tambur"> <span class="title">Тамбур</span></div>
        <div class="wagon__bath"> <span class="title">Туалет</span></div>
        <div class="wagon__provodnik"> <span class="title">Проводник</span></div>
        <div class="wagon__places">
            <div class="wagon__places__upper">
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,2)" '2' ng-class="{taken:!checkAvailability(2)}">2</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,4)" '4' ng-class="{taken:!checkAvailability(4)}">4</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,1)" '1' ng-class="{taken:!checkAvailability(1)}">1</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,3)" '3' ng-class="{taken:!checkAvailability(3)}">3</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,6)" '6' ng-class="{taken:!checkAvailability(6)}">6</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,8)" '8' ng-class="{taken:!checkAvailability(8)}">8</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,5)" '5' ng-class="{taken:!checkAvailability(5)}">5</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,7)" '7' ng-class="{taken:!checkAvailability(7)}">7</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,10)" '10' ng-class="{taken:!checkAvailability(20)}">10</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,12)" '12' ng-class="{taken:!checkAvailability(12)}">12</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,9)" '9' ng-class="{taken:!checkAvailability(9)}">9</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,11)" '11' ng-class="{taken:!checkAvailability(11)}">11</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,14)" '14' ng-class="{taken:!checkAvailability(14)}">14</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,16)" '16' ng-class="{taken:!checkAvailability(16)}">16</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,13)" '13' ng-class="{taken:!checkAvailability(13)}">13</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,15)" '15' ng-class="{taken:!checkAvailability(15)}">15</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,18)" '18' ng-class="{taken:!checkAvailability(18)}">18</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,20)" '20' ng-class="{taken:!checkAvailability(20)}">20</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,17)" '17' ng-class="{taken:!checkAvailability(17)}">17</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,19)" '19' ng-class="{taken:!checkAvailability(19)}">19</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,22)" '22' ng-class="{taken:!checkAvailability(22)}">22</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,24)" '24' ng-class="{taken:!checkAvailability(24)}">24</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,21)" '21' ng-class="{taken:!checkAvailability(21)}">21</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,23)" '23' ng-class="{taken:!checkAvailability(23)}">23</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,26)" '26' ng-class="{taken:!checkAvailability(26)}">26</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,28)" '28' ng-class="{taken:!checkAvailability(28)}">28</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,25)" '25' ng-class="{taken:!checkAvailability(25)}">25</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,27)" '27' ng-class="{taken:!checkAvailability(27)}">27</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,30)" '30' ng-class="{taken:!checkAvailability(30)}">30</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,32)" '32' ng-class="{taken:!checkAvailability(32)}">32</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,29)" '29' ng-class="{taken:!checkAvailability(29)}">29</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,31)" '31' ng-class="{taken:!checkAvailability(31)}">31</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,34)" '34' ng-class="{taken:!checkAvailability(34)}">34</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,36)" '36' ng-class="{taken:!checkAvailability(36)}">36</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,33)" '33' ng-class="{taken:!checkAvailability(33)}">33</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,35)" '35' ng-class="{taken:!checkAvailability(35)}">35</a></div>
                </div>
            </div>
            <div class="wagon__places__corridor"> <span>Коридор</span></div>
            <div class="wagon__places__bottom">
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,53)" '53' ng-class="{taken:!checkAvailability(53)}">53</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,54)" '54' ng-class="{taken:!checkAvailability(54)}">54</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,51)" '51' ng-class="{taken:!checkAvailability(51)}">51</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,52)" '52' ng-class="{taken:!checkAvailability(52)}">52</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,49)" '49' ng-class="{taken:!checkAvailability(49)}">49</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,50)" '50' ng-class="{taken:!checkAvailability(50)}">50</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,47)" '47' ng-class="{taken:!checkAvailability(47)}">47</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,48)" '48' ng-class="{taken:!checkAvailability(48)}">48</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,45)" '45' ng-class="{taken:!checkAvailability(45)}">45</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,46)" '46' ng-class="{taken:!checkAvailability(46)}">46</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,43)" '43' ng-class="{taken:!checkAvailability(43)}">43</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,44)" '44' ng-class="{taken:!checkAvailability(44)}">44</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,41)" '41' ng-class="{taken:!checkAvailability(41)}">41</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,42)" '42' ng-class="{taken:!checkAvailability(42)}">42</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,39)" '39' ng-class="{taken:!checkAvailability(39)}">39</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,40)" '40' ng-class="{taken:!checkAvailability(40)}">40</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,37)" '37' ng-class="{taken:!checkAvailability(37)}">37</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,38)" '38' ng-class="{taken:!checkAvailability(38)}">38</a></div>
                </div>
            </div>
        </div>
        <div class="wagon__bath"><span class="title">Туалет</span></div>
        <div class="wagon__tambur"><span class="title">Тамбур</span></div>
    </div>