<div class="booking-info" ng-controller="bookingInfoCtrl as bookingVM">
    <div class="close-page">
        <a class="btn" ng-click="bookingVM.close()">
            <i></i>
        </a>
    </div>
    <div ng-animate="'animate'" ng-show="vm.visible.homeBooking.value">
        <div class="well">
            <div class="row">
                <div class="col-xs-10 col-sm-9 title-booking-code">
                    <label for="booking-code">Введите Номер Бронирование</label>
                </div>
                <input type="text" id="booking-code" ng-model="bookingVM.bookingCode" class="col-sm-9 col-xs-7 booking-inp">
                <div class="col-sm-3 col-xs-5">
                    <button type="submit" ng-click="bookingVM.getBooking()" class="btn btn-primary booking-code-button ripple">
                        ПОИСК
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-9 title-booking-code">
                    <br/>
                    <span>Номер брони можно найти
                        <br>в электронной почте</span>
                </div>
            </div>
        </div>


        <div class="row">
            <span class="col-sm-12 col-xs-12 or">ИЛИ</span>
        </div>
        <div class="well">
            <div class="row booking-options">

                <div class="col-xs-10 col-sm-9 title-booking-code">
                    <label for="booking-email">Либо введите эл. почту</label>
                </div>
                <div>
                    <input type="text" id="booking-email" class="col-sm-9 col-xs-7 booking-inp">
                    <div class="col-sm-3 col-xs-5">
                        <button type="submit" class="btn btn-primary booking-code-button ripple">
                            ПОИСК
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-rules" ng-show="vm.visible.rulePurchase.value">
        <h3> ПРАВИЛА ПОКУПКИ ЭЛЕКТРОННЫХ ПРОЕЗДНЫХ ДОКУМЕНТОВ (БИЛЕТОВ)</h3> 
        <p class="rules">
            Наш сайт предлагает услугу по оформлению и оплате электронных Железнодорожных проездных документов (билетов) (далее - электронные жд билеты) с комиссии для физического лица с использованием его банковской карты.
            Совершая покупку электронных проездных документов (билетов) на нашем сайте, Вы соглашаетесь со всеми ниже перечисленными условиями.
            <br>Вы, как пользователь сайта, подтверждаете свое право и дееспособность, финансовую состоятельность, а также сознаете ответственность за обязательства, возложенные на Вас в результате заключения настоящей оферты.<br>
            В случае если пользователь не принимает условия настоящей оферты, он не допускается к оформлению и оплате электронных проездных документов (билетов).<br>
            Настоящая оферта содержит все существенные условия продажи и возврата электронных проездных документов (билетов), осуществления посадки и проезда в поезде.
        </p>
        <h3> СУММЫ ПОДЛЕЖАЩЕЕ ВОЗВРАТУ ЗА НЕИСПОЛЬЗОВАННЫЙ ПРОЕЗДНОЙ ДОКУМЕНТ </h3>
        <p class="rules">
                                                                                                                                               <br>
Внимание!!! При возврате электронного билета в зависимости от тарифной политики перевозчика может взиматься комиссионный сбор за возврат билета.
        <br>
        <br>
        При возврате неиспользованного электронного проездного документа (билета), к зачислению на банковскую карту причитается:
        <br>• не позднее чем за 24 часа до отправления поезда - стоимость проезда, состоящая из стоимости билета и стоимости плацкарты;
        <br>• менее чем за 24 часа, но не позднее, чем за 6 часов до отправления поезда - стоимость билета и 50% стоимости плацкарты;
        <br>• менее чем за 6 часов до отправления поезда, но не позднее 3 часов после отправления поезда со станции посадки пассажира - стоимость билета. Стоимость плацкарты не возвращается.
        <br><br> При возврате неиспользованных проездных документов (билетов), оформленных на поезда, сформированные исключительно из вагонов с местами для сидения:
        <br>• не позднее, чем за 24 часа до отправления поезда, получить полную стоимость проезда;
        <br>• менее чем за 24 часа, но не позднее, чем за 6 часов до отправления поезда - получить 50% от стоимости проезда;
        <br>• менее чем за 6 часов до отправления и после отправления поезда стоимость проезда не возвращается.</p>

    </div>
    <div class="info-rules" ng-show="vm.visible.ruleRefund.value">
        <h3>ВОЗВРАТ ЭЛЕКТРОННОГО ПРОЕЗДНОГО ДОКУМЕНТА (БИЛЕТА) ПРОИЗВОДИТСЯ:</h3>
        <p class="rules vozvrat">
                        <br>- Возврат электронного проездного документа (билета) онлайн, возможен не позднее чем за 1 час до отправления поезда с НАЧАЛЬНОЙ станции отправления (т.е.станции отправления поезда) согласно расписания следования поезда. Данное правило не распространяется на пригородные поезда (электрички).
                        <br>- В случаях если возврат на сайте уже невозможен так как до отправления поезда с начальной станции (т.е. станции отправления поезда, а не пассажира!!!) осталось менее 1 часа, пассажир для возврата неиспользованного электронного проездного документа (билета) должен ЛИЧНО обратиться в билетную кассу на территории Республики Казахстан и предъявить:
                        <br>1. Электронный проездной документ (билет);
                        <br>2. Документ удостоверяющий личность, указанный в электронном билете. При обращении в билетную кассу пассажир производит возврат места в поезде и получает в билетной кассе квитанцию разных сборов (далее -КРС), подтверждающую факт и время возврата места в поезде.
                        <br>- Для возврата причитающихся денежных средств полученный КРС (квитанция разных сборов)  необходимо представить в сканированном виде на электронную почту <a href="#">wwwitsbkz@gmail.com.</a>
                        <br>- билеты Вы можете оплачивать на сайте kaspi.kz. <br>
        </p>
    </div>
    <button type="submit" class="btn btn-primary booking-code-button ripple" ng-click="bookingVM.close()">
        <span>Закрыть</span>
    </button>
</div>