<div class="wagon talgo" data-bind="if:currentCarType()===4,visible:currentCarType()===4">
        <div class="wagon__tambur"> <span class="title">Тамбур</span></div>
        <div class="wagon__bath"> <span class="title">Туалет</span></div>
        <div class="wagon__places">
            <div class="wagon__places__upper">
                <div class="cell">
                    <div class="cell__place taken"> <a ng-click="addPlace($event,2)" '2' ng-class="{taken:!checkAvailability(2)}">2</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,4)" '4' ng-class="{taken:!checkAvailability(4)}">4</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,1)" '1' ng-class="{taken:!checkAvailability(1)}">1</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,3)" '3' ng-class="{taken:!checkAvailability(3)}">3</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place taken"> <a ng-click="addPlace($event,6)" '6' ng-class="{taken:!checkAvailability(6)}">6</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,8)" '8' ng-class="{taken:!checkAvailability(8)}">8</a></div>
                    <div class="cell__place taken"> <a ng-click="addPlace($event,5)" '5' ng-class="{taken:!checkAvailability(5)}">5</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,7)" '7' ng-class="{taken:!checkAvailability(7)}">7</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,10)" '10' ng-class="{taken:!checkAvailability(10)}">10</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,12)" '12' ng-class="{taken:!checkAvailability(12)}">12</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,9)" '9' ng-class="{taken:!checkAvailability(9)}">9</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,11)" '11' ng-class="{taken:!checkAvailability(11)}">11</a></div>
                </div>
                <div class="cell">
                    <div class="cell__place"> <a ng-click="addPlace($event,14)" '14' ng-class="{taken:!checkAvailability(14)}">14</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,16)" '16' ng-class="{taken:!checkAvailability(16)}">16</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,13)" '13' ng-class="{taken:!checkAvailability(13)}">13</a></div>
                    <div class="cell__place"> <a ng-click="addPlace($event,15)" '15' ng-class="{taken:!checkAvailability(15)}">15</a></div>
                </div>
                
    
            </div>
            <div class="wagon__places__corridor"> <span>Коридор</span></div>
        </div>
        <div class="wagon__tambur"><span class="title">Тамбур</span></div>
    </div>